<div class="task-container">
    <h2>Gestisci Attività</h2>
  
    <div class="task-actions">
      <button mat-raised-button color="primary" (click)="openDialog()">Crea Nuovo Task</button>
    </div>
    
    <div class="filter-container">
        <mat-form-field>
            <mat-label>Filtro per Stato</mat-label>
            <mat-select [(ngModel)]="filterStatus" (selectionChange)="applyFilter()">
              <mat-option value="">Tutte</mat-option>
              <mat-option value="completed">Completato</mat-option>
              <mat-option value="not-completed">Non Completato</mat-option>
            </mat-select>
         </mat-form-field>

     
        <mat-form-field >
          <mat-label>Filtra per categoria</mat-label>
          <mat-select [(ngModel)]="selectedCategory" (selectionChange)="filterTasksByCategory()">
            <mat-option [value]="null">--</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </mat-option>   
          </mat-select>
        </mat-form-field>
      </div>
  
    <div class="task-list">
      <div *ngFor="let task of filteredTasks" class="task-item" [ngClass]="{'completed': task.completed, 'not-completed': !task.completed}">
        <div class="task-details">
          <h3>{{ task.title }}</h3>
          <p>{{ task.description }}</p>
          <p><strong>Scadenza:</strong> {{ task.dueDate | date:'dd/MM/yyyy' }}</p>
          <p><strong>Completato:</strong> {{ task.completed ? 'Sì' : 'No' }}</p>
        </div>
  
        <div class="actions">
          <button mat-raised-button color="warn" (click)="openUpdateDialog(task)">Aggiorna</button>
          <button mat-raised-button color="warn" (click)="deleteTask(task.id)">Elimina</button>
        </div>
      </div>
    </div>
  </div>
  