<div class="task-container">
    <h2>Gestisci Attività</h2>
  
    <div class="task-actions">
      <button (click)="openDialog()" class="add-btn">Crea Nuovo Task</button>
    </div>
    
    <div class="filter-container">
        <mat-form-field>
            <mat-label>Filtro per Stato</mat-label>
            <mat-select [(ngModel)]="filterStatus" (selectionChange)="applyFilter()">
              <mat-option value="">Tutte</mat-option>
              <mat-option value="completed">Completato</mat-option>
              <mat-option value="not-completed">Non Completato</mat-option>
            </mat-select>
         </mat-form-field>

     
        <mat-form-field >
          <mat-label>Filtra per categoria</mat-label>
          <mat-select [(ngModel)]="selectedCategory" (selectionChange)="applyFilter()">
            <mat-option [value]="null">--</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </mat-option>   
          </mat-select>
        </mat-form-field>
      </div>
  
    <div class="task-list">
      <div *ngFor="let task of filteredTasks" class="task-item" [ngClass]="{'completed': task.completed, 'not-completed': !task.completed}">
        <div class="task-details">
          <h3>{{ task.title }}</h3>
          <p>{{ task.description }}</p>
          <p><strong>Scadenza:</strong> {{ task.dueDate ? (task.dueDate | date:'dd/MM/yyyy') : 'Nessuna Scadenza' }}</p>
          <p><strong>Completato:</strong> {{ task.completed ? 'Sì' : 'No' }}</p>
        </div>


        <div *ngIf="task.categories.length > 0">
          <p><strong>Categorie Associate:</strong></p>
          <div class="category-list">
            <div class="category-block" *ngFor="let category of task.categories">
              <span>{{ category.name }}</span>
            </div>
          </div>
        </div>
  
        <div class="actions">
          <button  (click)="openUpdateDialog(task)" class="edit-btn">Aggiorna</button>
          <button  (click)="deleteTask(task.id)" class="delete-btn">Elimina</button>
        </div>
      </div>
    </div>
  </div>
  