<div class="home-container">
    <h1>Benvenuto su Taskly!</h1>
    <p class="welcome-message">
      Taskly è una piattaforma di gestione delle attività che ti aiuta a rimanere organizzato.
    </p>
  
    <p>
      Puoi creare facilmente delle attività da svolgere, associarle a categorie specifiche. 
      Così, puoi sempre sapere cosa fare!
    </p>
  
    <h3>Cosa puoi fare con Taskly:</h3>
    <ul>
      <li>Creare attività da svolgere.</li>
      <li>Assegnare le attività a categorie specifiche per tenerle organizzate.</li>
      <li>Segnare le attività come completate per vedere i tuoi progressi.</li>
    </ul>
  
    <p class="closing-message">
      Inizia ora a creare la tua lista di cose da fare e organizzare al meglio il tuo tempo!
    </p>
  
    <div class="button-container">
      <button [routerLink]="'/tasks'">Vedi Attività</button>
      <button [routerLink]="'/categories'">Vedi Categorie</button>
    </div>
  </div>
  